@use '../abstracts/' as *;

.massages {
  & .h1 {
    margin-bottom: in-rem(48);

    @include breakpoint('large') {
      margin-bottom: in-rem(24);
    }
  }

  &__list {
    width: $main-width-sm;
    margin-inline: auto;

    background-image: linear-gradient(
      45deg,
      hsla(210, 27%, 96%, 0.6) 0%,
      hsla(210, 27%, 96%, 0.6) 100%
    );

    @include breakpoint('large') {
      width: auto;
      overflow-y: auto;
      max-height: 90dvh;
    }
  }
}
