@use '../abstracts/' as *;

.footer {
  $footer-flow-sm: in-rem(8);
  $footer-flow: in-rem(32);
  $footer-flow-lg: in-rem(64);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 0;
  background: radial-gradient(
    399.52% 110.1% at 29.37% 0%,
    var(--clr-primary-800) 0%,
    var(--clr-primary-700) 100%
  );

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__logo {
    padding-inline: 1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav > ul {
    display: grid;
    gap: $footer-flow-sm;

    margin-bottom: $footer-flow-lg;
  }

  &__cta {
    margin-bottom: $footer-flow-lg;
  }

  &__legal ul {
    display: grid;
    gap: $footer-flow-sm;
    margin-bottom: $footer-flow;
  }

  &__buisness-infos {
    display: grid;
    gap: $footer-flow-sm;
    margin-bottom: $footer-flow;
  }

  &__copyright {
    display: grid;
    gap: $footer-flow-sm;
  }
}
