@use '../abstracts/' as *;

.footer {
  $footer-flow-sm: in-rem(12);
  $footer-flow: in-rem(32);
  $footer-flow-lg: in-rem(64);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 0;
  background: radial-gradient(
    399.52% 110.1% at 29.37% 0%,
    var(--clr-primary-800) 0%,
    var(--clr-primary-700) 100%
  );

  &__container {
    width: min(100%, 1490px);
    margin-inline: auto;
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    @include breakpoint('large') {
      justify-content: flex-start;
    }
  }

  &__logo {
    padding-inline: 1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint('large') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__nav > ul {
    display: grid;
    gap: $footer-flow-sm;

    margin-bottom: $footer-flow-lg;
  }

  &__cta {
    margin-bottom: calc($footer-flow-lg - $footer-flow-sm);
  }

  &__legal ul {
    display: grid;
    gap: $footer-flow-sm;
    margin-bottom: $footer-flow;
    @include breakpoint('large') {
      justify-items: end;
    }
  }

  &__buisness-infos {
    display: grid;
    gap: $footer-flow-sm;
    margin-bottom: $footer-flow;
  }

  &__copyright {
    display: grid;
    gap: $footer-flow-sm;

    @include breakpoint('large') {
      justify-items: end;
    }
  }
}

//TODO: la type du footer ( et du reste aussi je pense que je suis passé à coté de pas mal de truc
