@use '../abstracts/' as *;

.header {
  position: fixed;
  display: grid;
  justify-items: center;

  width: 100%;
  background-color: white;

  & #open-menu-btn,
  #close-menu-btn {
    justify-self: end;

    color: var(--clr-primary-300);
    background-color: transparent;
    border: none;
  }

  &__first {
    display: grid;
    justify-items: center;
    z-index: 10;
    width: 100%;

    background-color: white;
  }

  &__nav {
    position: absolute;
    top: 100%;
    display: flex;
    padding-block: in-rem(50);
    gap: in-rem(50);
    flex-direction: column;
    align-items: center;
    width: 100%;

    translate: 0 -150%;
    z-index: 0;
    background-color: gray; // TODO: A changer

    transition: 0.75s;
  }

  .show-menu {
    translate: 0 0;
  }
}
