@use '../abstracts/' as *;

.header {
  $nav-animation-timing: 0.75s;

  position: fixed;
  top: 0;

  display: grid;
  justify-items: center;

  width: 100%;
  height: $header-height-sm;

  @include breakpoint('large') {
    position: relative;

    display: flex;
  }

  & #open-menu-btn,
  #close-menu-btn {
    justify-self: end;

    background-color: transparent;
    border: none;
  }

  &__first {
    display: grid;
    justify-items: center;
    grid-template-rows: min-content auto;
    align-items: center;

    width: 100%;
    z-index: 10;

    @include breakpoint('large') {
      align-items: center;
    }

    background: rgb(249, 246, 239);
    background: $body-background;
  }

  &__nav {
    position: absolute;
    bottom: 0%;

    z-index: 0;

    translate: 0 -50%;
    transition: translate $nav-animation-timing;

    @include breakpoint('large') {
      position: relative;

      translate: 0;
      background: transparent;
    }
  }

  &__burger-menu {
    max-height: in-rem(25);

    margin-right: in-rem(29);
    margin-top: in-rem(20);
    padding: 0;

    & > img {
      height: 100%;
    }
  }

  .show-menu {
    translate: 0 100%;

    animation: show-overlay calc($nav-animation-timing - 0.1s) 0.1s forwards;
  }
}

@keyframes show-overlay {
  0% {
    box-shadow: -1px -1px 9px 20000px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -1px -1px 9px 20000px rgba(0, 0, 0, 0.411);
  }
}
