@use '../abstracts/' as *;

.header {
  position: fixed;

  display: grid;
  justify-items: center;

  width: 100%;

  background-color: white;

  @include breakpoint('large') {
    position: relative;

    display: flex;
  }

  & #open-menu-btn,
  #close-menu-btn {
    justify-self: end;

    background-color: transparent;
    border: none;
  }

  &__first {
    display: grid;
    justify-items: center;

    width: 100%;
    z-index: 10;

    background-color: white;

    @include breakpoint('large') {
      align-items: center;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: in-rem(50);

    width: 100%;

    padding-block: in-rem(50);

    z-index: 0;

    transition: 0.75s;

    background-color: gray;

    @include breakpoint('large') {
      position: relative;

      translate: 0;
      background-color: transparent;
    }
  }

  .show-menu {
    translate: 0 100%;
  }
}
