@use '../abstracts/' as *;

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: in-rem(64);

  padding-top: calc($header-height-sm + in-rem(32));
  padding-bottom: 8rem;
  background-image: url('../public/bubble-background.svg');
  background-position: bottom 120px right 0;
  background-repeat: space;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    height: 100px;
    width: 140px;

    background-image: url('../public/lotus-light.svg');
    background-repeat: no-repeat;
  }

  &__images {
    width: 100%;
  }
}
