@use '../abstracts/' as *;

.form {
  &__group {
    display: grid;
    gap: 0.5rem;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: in-rem(18);
    letter-spacing: 0.19688rem;

    &--checkbox {
      justify-content: flex-start;
    }
  }

  &__input {
    flex-grow: 1;

    max-width: 70%;
    min-height: $input-height-sm;

    padding-inline: in-rem(8);

    border: 1px var(--clr-primary-750) solid;
    border-radius: 2.5px;

    background-color: #f9f9f9;
    font-size: in-rem(16);
    text-align: center;
    font-family: $text-font-stack;
    color: inherit;
    letter-spacing: 0.175rem;
  }

  &__checkbox {
    visibility: hidden;

    position: absolute;

    height: 0;
    width: 0;

    & ~ span {
      min-height: 15px;
      min-width: 15px;

      margin-right: 1rem;

      border: 1px var(--clr-primary-750) solid;
      border-radius: 2px;

      background-color: white;
    }

    &:checked ~ span {
      position: relative;

      background-color: var(--clr-primary-400);

      &:after {
        position: absolute;
        content: '';
        inset: 0;

        height: 9px;
        width: 6px;

        transform: translateX(4px) translateY(1px) rotate(40deg);

        border-bottom: 2px white solid;
        border-right: 2px white solid;

        background-color: transparent;
      }
    }
  }
}
