@use '../abstracts/' as *;

.massage-card {
  height: 0;
  overflow-y: scroll;

  transition: 1s;

  @include breakpoint('large') {
    overflow-y: hidden;
  }

  &__img {
    min-width: 100%;
    border-radius: 4px;

    @include breakpoint('large') {
      min-width: auto;
      width: 50%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint('large') {
      flex-grow: 1;
      display: grid;
      grid-template-rows: min-content auto;
      align-items: center;

      margin-inline: 2.5rem;
    }
  }

  &__datas {
    align-self: flex-end;

    display: grid;
    gap: in-rem(4);

    width: fit-content;

    margin-top: 1.8rem;

    @include breakpoint('large') {
      justify-self: end;

      display: flex;
      gap: in-rem(40);

      margin-top: 0;
    }
  }

  &__time {
    position: relative;

    &:before {
      content: url('../public/time.svg');
      position: absolute;
      right: 100%;
      translate: calc(50% - 1em);
    }
  }

  &__price {
    position: relative;

    &:before {
      content: url('../public/euro.svg');
      position: absolute;
      right: 100%;
      translate: calc(50% - 1rem);
    }
  }

  &__features {
    margin-top: 0.75rem;
    margin-left: 1.1rem;

    @include breakpoint('large') {
      margin-top: 0;
    }
  }

  &__description {
    margin-top: 1.5rem;

    & > p:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__cta-container {
    width: fit-content;
    margin-inline: auto;
    margin-top: 2.5rem;
  }

  &__infos {
    @include breakpoint('large') {
      display: flex;

      margin-top: 1rem;
    }
  }
}
