@use '../abstracts/' as *;

.massage-card {
  height: 0;
  overflow-y: hidden;

  transition: 1s;
  &__img {
    min-width: 100%;
    border-radius: 4px;
  }

  &__container {
    width: $main-width-sm;

    margin-inline: auto;
  }
  &__description {
    width: $main-width-sm;

    margin-inline: auto;
  }

  &__cta-container {
  }
}
