@use '../abstracts/' as *;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: in-rem(50);

  width: 100%;
  padding-block: in-rem(50);

  background: $body-background;

  @include breakpoint('large') {
    padding: 0;
    background: transparent;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include breakpoint('large') {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding-right: in-rem(128);
    }
  }
}
