:root {
  --scrollbar-width: calc(100vw - 100%);
}

:root {
  --clr-primary-300: hsl(183, 35%, 52%);
  --clr-primary-400: hsl(183, 70%, 36%);
  --clr-primary-600: hsl(183, 84%, 17%);
  --clr-primary-700: hsl(183, 46%, 16%);
  --clr-primary-800: hsl(183, 43%, 11%);
  --clr-primary-900: hsl(183, 43%, 11%);
  --clr-secondary-300: hsl(24, 50%, 45%);
  --clr-secondary-400: hsl(24, 100%, 31%);
  --clr-secondary-800: hsl(24, 84%, 17%);
  --clr-secondary-850: hsl(24, 100%, 15%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: #f9f6ef;
  --clr-neutral-300: #e9f2ff;
  --clr-neutral-400: #eff2f3;
}
:root .fc-primary-300 {
  color: hsl(183, 35%, 52%);
}
:root .fc-primary-400 {
  color: hsl(183, 70%, 36%);
}
:root .fc-primary-600 {
  color: hsl(183, 84%, 17%);
}
:root .fc-primary-700 {
  color: hsl(183, 46%, 16%);
}
:root .fc-primary-800 {
  color: hsl(183, 43%, 11%);
}
:root .fc-primary-900 {
  color: hsl(183, 43%, 11%);
}
:root .fc-secondary-300 {
  color: hsl(24, 50%, 45%);
}
:root .fc-secondary-400 {
  color: hsl(24, 100%, 31%);
}
:root .fc-secondary-800 {
  color: hsl(24, 84%, 17%);
}
:root .fc-secondary-850 {
  color: hsl(24, 100%, 15%);
}
:root .fc-neutral-100 {
  color: hsl(0, 0%, 100%);
}
:root .fc-neutral-200 {
  color: #f9f6ef;
}
:root .fc-neutral-300 {
  color: #e9f2ff;
}
:root .fc-neutral-400 {
  color: #eff2f3;
}

:root {
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-350: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.125rem;
  --fs-550: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;
}
@media (min-width: 64rem) {
  :root {
    --fs-200: 1rem;
    --fs-300: 1rem;
    --fs-350: 1.25rem;
    --fs-400: 1.375rem;
    --fs-500: 1.56rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 3.052rem;
  }
}
:root .fs-200 {
  font-size: var(--fs-200);
}
:root .fs-300 {
  font-size: var(--fs-300);
}
:root .fs-350 {
  font-size: var(--fs-350);
}
:root .fs-400 {
  font-size: var(--fs-400);
}
:root .fs-500 {
  font-size: var(--fs-500);
}
:root .fs-550 {
  font-size: var(--fs-550);
}
:root .fs-600 {
  font-size: var(--fs-600);
}
:root .fs-700 {
  font-size: var(--fs-700);
}
:root .fs-800 {
  font-size: var(--fs-800);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: var(--clr-primary-400);
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: var(--clr-primary-500);
  text-decoration: underline;
}

body {
  background: linear-gradient(90deg, rgb(249, 246, 239) 0%, rgb(233, 242, 255) 100%);
}
@media (min-width: 64rem) {
  body {
    background: radial-gradient(221.6% 141.42% at 0% 0%, #f9f6ef 0%, #e9f2ff 100%);
  }
}

@font-face {
  font-family: "Amaranth";
  src: url("../public/fonts/Amaranth-Regular.woff2") format("woff2"), url("../public/fonts/Amaranth-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../public/fonts/Arsenal-Bold.woff2") format("woff2"), url("../public/fonts/Arsenal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../public/fonts/Arsenal-BoldItalic.woff2") format("woff2"), url("../public/fonts/Arsenal-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../public/fonts/Arsenal-Regular.woff2") format("woff2"), url("../public/fonts/Arsenal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../public/fonts/Arsenal-Italic.woff2") format("woff2"), url("../public/fonts/Arsenal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/**
 * Basic typography style for copy text
 */
body {
  color: var(--clr-primary-800);
  font-family: "Arsenal", sans-serif;
  font-size: var(--fs-200);
}

.footer {
  color: var(--clr-neutral-200);
  text-align: center;
  font-size: var(--fs-300);
  letter-spacing: 0.1rem;
  line-height: 120%;
}
@media (min-width: 64rem) {
  .footer {
    letter-spacing: 0.2rem;
  }
}
.footer a {
  color: var(--clr-neutral-200);
}

.nav a {
  color: var(--clr-primary-600);
  font-family: "Amaranth", sans-serif;
  font-size: var(--fs-350);
}
.nav a.current {
  color: var(--clr-primary-400);
}

.h1 {
  text-align: center;
  font-size: var(--fs-600);
  font-weight: 700;
  line-height: 143%; /* 2.86rem */
  letter-spacing: 0.27rem;
}
@media (min-width: 64rem) {
  .h1 {
    letter-spacing: 0.38rem;
  }
}
.h1 > em {
  color: var(--clr-primary-400);
  font-style: italic;
}
.h1--section {
  font-family: "Amaranth", sans-serif;
  font-size: var(--fs-550);
  font-weight: normal;
  line-height: 171.5%; /* 2.5725rem */
}
@media (min-width: 64rem) {
  .h1--section {
    text-align: end;
  }
}

.h2 {
  text-align: center;
  font-size: var(--fs-400);
  line-height: 171.5%; /* 1.93rem */
  letter-spacing: 0.2rem;
  font-weight: 400;
}
@media (min-width: 64rem) {
  .h2 {
    letter-spacing: 0.24rem;
  }
}

.text-xs {
  font-size: var(--fs-200);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.145rem;
}

.btn {
  font-size: var(--fs-500);
  font-weight: 700;
  letter-spacing: 0.225rem;
}
.btn--primary {
  color: var(--clr-neutral-200);
}
.btn--secondary {
  color: var(--clr-secondary-400);
  font-weight: 400;
}
.btn--sm {
  font-weight: normal;
}

.massage__main-btn {
  font-size: calc(0.875rem + 1.6vw);
  line-height: 171.5%; /* 2.14375rem */
  letter-spacing: 0.21875rem;
  text-align: start;
  font-weight: normal;
  color: var(--clr-primary-800);
}
@media (min-width: 64rem) {
  .massage__main-btn {
    font-size: 2rem;
  }
}

.massage-card {
  font-size: var(--fs-300);
  letter-spacing: 0.1rem;
}
.massage-card__datas {
  font-size: var(--fs-350);
  line-height: 128%;
}
.massage-card__features {
  font-size: var(--fs-350);
  line-height: 171.5%;
  list-style: disc;
}
.massage-card__description {
  line-height: 150.5%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  background: radial-gradient(399.52% 110.1% at 29.37% 0%, var(--clr-primary-800) 0%, var(--clr-primary-700) 100%);
}
@media (min-width: 64rem) {
  .footer {
    padding: 7rem 0;
  }
}
.footer__container {
  width: min(100%, 1600px);
  margin-inline: auto;
  padding-inline: 3rem;
}
.footer__header {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
@media (min-width: 64rem) {
  .footer__header {
    justify-content: flex-start;
  }
}
.footer__logo {
  padding-inline: 1rem;
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 64rem) {
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer__nav > ul {
  display: grid;
  gap: 0.75rem;
  margin-bottom: 4rem;
}
@media (min-width: 64rem) {
  .footer__nav > ul {
    gap: 1rem;
  }
}
.footer__cta {
  margin-bottom: calc(4rem - 0.75rem);
}
.footer__legal ul {
  display: grid;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
@media (min-width: 64rem) {
  .footer__legal ul {
    justify-items: end;
    gap: 1rem;
  }
}
.footer__buisness-infos {
  display: grid;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
@media (min-width: 64rem) {
  .footer__buisness-infos {
    gap: 1rem;
    justify-items: center;
  }
}
.footer__copyright {
  display: grid;
  gap: 0.75rem;
}
@media (min-width: 64rem) {
  .footer__copyright {
    justify-items: end;
    gap: 1rem;
  }
}

.header {
  position: fixed;
  top: 0;
  display: grid;
  justify-items: center;
  width: 100%;
  z-index: 2;
}
@media (min-width: 64rem) {
  .header {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 4rem;
    width: min(100%, 1600px);
    margin-inline: auto;
  }
}
.header #open-menu-btn,
.header #close-menu-btn {
  justify-self: end;
  background-color: transparent;
  border: none;
}
.header__first {
  display: grid;
  justify-items: center;
  grid-template-rows: min-content auto;
  width: 100%;
  height: calc(5rem + 20vw);
  padding-inline: 1.8125rem;
  z-index: 3;
  background: rgb(249, 246, 239);
  background: linear-gradient(90deg, rgb(249, 246, 239) 0%, rgb(233, 242, 255) 100%);
  transition: height 0.5s;
  box-shadow: none;
}
@media (min-width: 64rem) {
  .header__first {
    justify-content: flex-start;
    align-items: center;
    height: unset;
    width: unset;
    background: transparent;
  }
}
.header__first--reduced {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 3.75rem;
  box-shadow: 0 -12px 15px 3px black;
}
.header .logo {
  margin-top: 0.9375rem;
}
@media (min-width: 64rem) {
  .header .logo {
    width: 385px;
  }
}
.header .logo__icon {
  display: none;
}
.header .logo__full {
  width: 261px;
  height: 73px;
}
@media (min-width: 64rem) {
  .header .logo__full {
    width: 385px;
    height: 32px;
  }
}
.header__nav {
  position: absolute;
  bottom: 0%;
  z-index: 0;
  translate: 0 -50%;
  transition: translate 0.75s;
}
@media (min-width: 64rem) {
  .header__nav {
    position: relative;
    translate: 0;
    background: transparent;
  }
}
.header__burger-menu {
  height: 1.875rem;
  margin-top: 1.25rem;
  padding: 0;
}
.header__burger-menu > img {
  height: 100%;
}
.header .show-menu {
  translate: 0 99%;
  animation: show-overlay 0.65s 0.1s forwards;
}

@keyframes show-overlay {
  0% {
    box-shadow: -1px -1px 9px 20000px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -1px -1px 9px 20000px rgba(0, 0, 0, 0.411);
  }
}
.main {
  position: relative;
  padding-top: calc(5rem + 20vw + 2rem);
  padding-bottom: 8rem;
  background-image: url("../public/bubble-background.svg");
  background-position: 100% 35rem;
  background-repeat: no-repeat;
}
@media (min-width: 64rem) {
  .main {
    padding-top: 4rem;
    padding-bottom: 0;
    background-image: url("../public/bubble-background-desktop.svg");
    background-position: bottom right;
    background-repeat: no-repeat space;
  }
  .main--background-v2 {
    background-image: url("../public/bubble-background-v2-desktop.svg");
  }
}
@media (min-width: 64rem) {
  .main__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    width: min(100%, 1600px);
    margin-inline: auto;
    overflow: hidden;
  }
}
.main:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100px;
  width: 140px;
  background-image: url("../public/lotus-light.svg");
  background-repeat: no-repeat;
}
@media (min-width: 64rem) {
  .main:after {
    width: 250px;
    height: 210px;
    background-image: url("../public/lotus-light-desktop.svg");
  }
}
.main__illustration {
  width: 100%;
}
@media (min-width: 64rem) {
  .main__content {
    position: relative;
    padding-bottom: 2rem;
  }
  .main__content:after {
    content: "";
    position: absolute;
    top: -20%;
    right: 0;
    width: 100%;
    height: 110%;
    z-index: -1;
    background-image: url("../public/arc-background.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.9375rem;
  height: 2.8125rem;
  border-radius: 0.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 64rem) {
  .btn {
    width: 15rem;
    height: 3.75rem;
  }
}
.btn--primary {
  background: linear-gradient(176deg, var(--clr-secondary-400) 0%, var(--clr-secondary-400) 50.66%, var(--clr-secondary-800) 100%);
}
.btn--primary:hover, .btn--primary:active, .btn--primary:focus, .btn--primary:focus-within {
  text-decoration: none;
  color: white;
  background: linear-gradient(176deg, var(--clr-secondary-300) 0%, var(--clr-secondary-300) 50.66%, var(--clr-secondary-400) 100%);
}
.btn--secondary {
  border: 2px solid var(--clr-secondary-400);
  background-color: var(--clr-neutral-400);
}
.btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus, .btn--secondary:focus-within {
  color: var(--clr-secondary-400);
  text-decoration: none;
  outline: 1px solid var(--clr-secondary-400);
}
.btn--sm {
  display: inline-flex;
  width: unset;
  height: unset;
  padding: 0.375rem 2.1875rem;
  border-radius: 100px;
}
@media (min-width: 64rem) {
  .btn--sm {
    padding: 0.5rem 2.1875rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
.btn--disabled {
  background: hsl(24, 37%, 48%);
  cursor: not-allowed;
}
.btn--disabled:hover, .btn--disabled:active, .btn--disabled:focus, .btn--disabled:focus-within {
  outline: none;
  background: hsl(24, 37%, 48%);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  width: 100%;
  padding-block: 3.125rem;
  background: linear-gradient(90deg, rgb(249, 246, 239) 0%, rgb(233, 242, 255) 100%);
}
@media (min-width: 64rem) {
  .nav {
    align-items: flex-end;
    padding: 0;
    background: transparent;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (min-width: 64rem) {
  .nav__list {
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;
  }
}

.massage {
  border-style: solid;
  border-width: 0 0 2px 0;
  -o-border-image: radial-gradient(circle, rgba(7, 75, 79, 0.25) 0%, rgba(7, 75, 79, 0) 100%) 1;
     border-image: radial-gradient(circle, rgba(7, 75, 79, 0.25) 0%, rgba(7, 75, 79, 0) 100%) 1;
}
.massage header {
  height: 90px;
}
.massage h2 {
  height: 100%;
}
.massage:hover .massage__logo {
  background-image: url("../public/lotus-item-sm-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.massage__main-btn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.massage__container {
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.8s;
}
@media (min-width: 64rem) {
  .massage__container {
    transition: 1.5s;
  }
}
.massage__logo {
  position: absolute;
  translate: -100% 0;
  left: 100%;
  width: 10%;
  min-width: 30px;
  height: 90px;
  background-image: url("../public/lotus-item-sm.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 64rem) {
  .massage__logo {
    height: 2rem;
  }
}
.massage__close-btn {
  position: absolute;
  transform: translateX(-150%);
  width: 15px;
  height: 90px;
  background-image: url("../public/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  opacity: 0.8;
}
@media (min-width: 64rem) {
  .massage__close-btn {
    width: 20px;
    height: 90px;
  }
}
.massage__text {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.massage-card {
  height: 0;
  overflow-y: scroll;
  transition: 1s;
}
@media (min-width: 64rem) {
  .massage-card {
    overflow-y: hidden;
  }
}
.massage-card__img {
  min-width: 100%;
  border-radius: 4px;
}
@media (min-width: 64rem) {
  .massage-card__img {
    min-width: auto;
    width: 50%;
  }
}
.massage-card__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 64rem) {
  .massage-card__container {
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content auto;
    align-items: center;
    margin-inline: 2.5rem;
  }
}
.massage-card__datas {
  align-self: flex-end;
  display: grid;
  gap: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.8rem;
}
@media (min-width: 64rem) {
  .massage-card__datas {
    justify-self: end;
    display: flex;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 0;
  }
}
.massage-card__time {
  position: relative;
}
.massage-card__time:before {
  content: url("../public/time.svg");
  position: absolute;
  right: 100%;
  translate: calc(50% - 1em);
}
.massage-card__price {
  position: relative;
}
.massage-card__price:before {
  content: url("../public/euro.svg");
  position: absolute;
  right: 100%;
  translate: calc(50% - 1rem);
}
.massage-card__features {
  margin-top: 0.75rem;
  margin-left: 1.1rem;
}
@media (min-width: 64rem) {
  .massage-card__features {
    margin-top: 0;
  }
}
.massage-card__description {
  margin-top: 1.5rem;
}
@media (min-width: 64rem) {
  .massage-card__description {
    margin-top: 2.5rem;
  }
}
.massage-card__description > p:not(:last-child) {
  margin-bottom: 0.5rem;
}
.massage-card__cta-container {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 3em;
}
@media (min-width: 64rem) {
  .massage-card__cta-container {
    margin-right: 2rem;
    margin-block: 3em;
  }
}
@media (min-width: 64rem) {
  .massage-card__infos {
    display: flex;
    margin-top: 1rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
}
.home__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 64rem) {
  .home__text {
    gap: 2rem;
  }
}
.home .h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding-inline: 1rem;
}
@media (min-width: 64rem) {
  .home .h1 {
    margin-bottom: 0;
  }
}
.home__sm-text {
  padding-inline: 1rem;
}
@media (min-width: 64rem) {
  .home__sm-text {
    align-self: flex-start;
  }
}
.home .h2 {
  margin-bottom: 4rem;
  padding-inline: 1rem;
}
@media (min-width: 64rem) {
  .home .h2 {
    margin-bottom: 0;
  }
}
.home__illustration {
  margin-bottom: 4rem;
}
.home__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem;
}
@media (min-width: 64rem) {
  .home__cta {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    margin-bottom: 0;
  }
}

.massages .h1 {
  margin-bottom: 3rem;
}
@media (min-width: 64rem) {
  .massages .h1 {
    margin-bottom: 1.5rem;
  }
}
.massages__list {
  width: min(100% - 1rem - 6vw, 930px);
  margin-inline: auto;
  background-image: linear-gradient(45deg, hsla(210, 27%, 96%, 0.6) 0%, hsla(210, 27%, 96%, 0.6) 100%);
}
@media (min-width: 64rem) {
  .massages__list {
    width: auto;
  }
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 64rem) {
  .hide-desktop {
    display: none;
  }
}

.show-desktop {
  display: none;
}
@media (min-width: 64rem) {
  .show-desktop {
    display: block;
  }
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */