// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary: (
    300: hsl(183, 35%, 52%),
    400: hsl(183, 70%, 36%),
    600: hsl(183, 84%, 17%),
    700: hsl(183, 46%, 16%),
    800: hsl(183, 43%, 11%),
    900: hsl(183, 43%, 11%),
  ),
  secondary: (
    300: hsl(24, 50%, 45%),
    400: hsl(24, 100%, 31%),
    800: hsl(24, 84%, 17%),
    850: hsl(24, 100%, 15%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: #f9f6ef,
    300: #e9f2ff,
    400: #eff2f3,
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
