/**
 * Basic typography style for copy text
 */
@use '../abstracts/' as *;

body {
  color: var(--clr-primary-900);
  font-family: $text-font-stack;
  font-size: var(--fs-sm-300);
}

.nav a {
  color: var(--clr-primary-600);
  font-family: $secondary-font-stack;

  &.current {
    color: var(--clr-primary-400);
  }
}
